.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color:white;
    background-color:#FF7777;
    }
	
.nav-pills > li > a, .nav-pills > li >a:focus {
	color:white;
	background-color:#FF0000;
} 

.nav-pills> li > a:hover, .nav-pills > li.active > a:hover{
	color:black;
	background-color:white;
}
.navbar-dark .navbar-nav .nav-link {
	color:white;
	font-size:18px;
	padding-top:22px;
	padding-bottom:22px;
}


.navbar-dark .navbar-nav .nav-link:focus, .nav-link:hover{
	color:black;   
}

.nav-item >li.active > a, .nav-item > li.active>a:focus,{
	 color:grey;
    background-color:#FF7777;
}


.navback{
	background-color:red;
}

.nav-spacer{		
    padding-bottom:80px;
}

.nav-snap{		
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.carousel-inner img {
  margin: auto;
}

.body-text{
	background-color:#f9f9f9;
	color:black;
	padding-bottom:15px;
}

.project-img{
	height: 250px;
	overflow: hidden;
	
}

.project-img img{
	max-width:100%;
	max-height:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.project-entry {
padding-top:15px;	
}
.project-entry>h4>a{
	color:black;
}



body {
	background-color:#44434c;
}


