.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color:white;
    background-color:#FF7777;
    }
	
.nav-pills > li > a, .nav-pills > li >a:focus {
	color:white;
	background-color:#FF0000;
} 

.nav-pills> li > a:hover, .nav-pills > li.active > a:hover{
	color:black;
	background-color:white;
}
.nav-link {
	color:white;
	font-size:18px;
	padding:35px;
}

.nav-link:focus, .nav-link:hover{
	color:black;   
}

.nav-item >li.active > a, .nav-item > li.active>a:focus,{
	 color:grey;
    background-color:#FF7777;
}


.navback{
	background-color:red;
}

.nav-spacer{	
	padding-bottom:70px;
}

.body-text{
	background-color:white;
	color:black;
	padding-bottom:15px;
}

body {
	background-color:#44434c;
}


